.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
@media (min-width: 480px) {
    .container {
        max-width: 480px;
    }
}
@media (min-width: 600px) {
    .container {
        max-width: 600px;
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
@media (min-width: 782px) {
    .container {
        max-width: 782px;
    }
}
@media (min-width: 960px) {
    .container {
        max-width: 960px;
        padding-right: 0rem;
        padding-left: 0rem;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}
@media (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}
.form-input,.form-textarea,.form-select,.form-multiselect {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}
.form-input:focus, .form-textarea:focus, .form-select:focus, .form-multiselect:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: #2563eb;
}
.form-input::-moz-placeholder, .form-textarea::-moz-placeholder {
    color: #6b7280;
    opacity: 1;
}
.form-input::placeholder,.form-textarea::placeholder {
    color: #6b7280;
    opacity: 1;
}
.form-input::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
}
.form-input::-webkit-date-and-time-value {
    min-height: 1.5em;
    text-align: inherit;
}
.form-input::-webkit-datetime-edit {
    display: inline-flex;
}
.form-input::-webkit-datetime-edit,.form-input::-webkit-datetime-edit-year-field,.form-input::-webkit-datetime-edit-month-field,.form-input::-webkit-datetime-edit-day-field,.form-input::-webkit-datetime-edit-hour-field,.form-input::-webkit-datetime-edit-minute-field,.form-input::-webkit-datetime-edit-second-field,.form-input::-webkit-datetime-edit-millisecond-field,.form-input::-webkit-datetime-edit-meridiem-field {
    padding-top: 0;
    padding-bottom: 0;
}
.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.inset-0 {
    inset: 0px;
}
.z-10 {
    z-index: 10;
}
.z-50 {
    z-index: 50;
}
.float-right {
    float: right;
}
.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.mb-1 {
    margin-bottom: 0.25rem;
}
.mb-10 {
    margin-bottom: 2.5rem;
}
.mb-2 {
    margin-bottom: 0.5rem;
}
.mb-3 {
    margin-bottom: 0.75rem;
}
.mb-4 {
    margin-bottom: 1rem;
}
.mb-5 {
    margin-bottom: 1.25rem;
}
.ml-4 {
    margin-left: 1rem;
}
.mr-2 {
    margin-right: 0.5rem;
}
.mt-10 {
    margin-top: 2.5rem;
}
.mt-2 {
    margin-top: 0.5rem;
}
.mt-3 {
    margin-top: 0.75rem;
}
.mt-5 {
    margin-top: 1.25rem;
}
.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.line-clamp-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.inline {
    display: inline;
}
.flex {
    display: flex;
}
.inline-flex {
    display: inline-flex;
}
.contents {
    display: contents;
}
.hidden {
    display: none;
}
.h-14 {
    height: 3.5rem;
}
.h-28 {
    height: 7rem;
}
.h-48 {
    height: 12rem;
}
.h-5 {
    height: 1.25rem;
}
.h-6 {
    height: 1.5rem;
}
.h-8 {
    height: 2rem;
}
.h-80 {
    height: 20rem;
}
.min-h-screen {
    min-height: 100vh;
}
.w-12 {
    width: 3rem;
}
.w-14 {
    width: 3.5rem;
}
.w-3\/6 {
    width: 50%;
}
.w-5 {
    width: 1.25rem;
}
.w-6 {
    width: 1.5rem;
}
.w-60 {
    width: 15rem;
}
.w-8 {
    width: 2rem;
}
.w-full {
    width: 100%;
}
.basis-1\/12 {
    flex-basis: 8.333333%;
}
.basis-1\/3 {
    flex-basis: 33.333333%;
}
.basis-1\/4 {
    flex-basis: 25%;
}
.basis-1\/5 {
    flex-basis: 20%;
}
.basis-2\/3 {
    flex-basis: 66.666667%;
}
.basis-4\/5 {
    flex-basis: 80%;
}
.cursor-pointer {
    cursor: pointer;
}
.list-outside {
    list-style-position: outside;
}
.list-decimal {
    list-style-type: decimal;
}
.list-disc {
    list-style-type: disc;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}
.items-end {
    align-items: flex-end;
}
.items-center {
    align-items: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.gap-1 {
    gap: 0.25rem;
}
.gap-10 {
    gap: 2.5rem;
}
.gap-12 {
    gap: 3rem;
}
.gap-2 {
    gap: 0.5rem;
}
.gap-3 {
    gap: 0.75rem;
}
.gap-4 {
    gap: 1rem;
}
.gap-5 {
    gap: 1.25rem;
}
.gap-6 {
    gap: 1.5rem;
}
.gap-8 {
    gap: 2rem;
}
.space-y-10 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2.5rem * var(--tw-space-y-reverse));
}
.overflow-auto {
    overflow: auto;
}
.scroll-smooth {
    scroll-behavior: smooth;
}
.rounded {
    border-radius: 0.25rem;
}
.rounded-full {
    border-radius: 9999px;
}
.rounded-lg {
    border-radius: 0.5rem;
}
.rounded-md {
    border-radius: 0.375rem;
}
.border {
    border-width: 1px;
}
.border-b {
    border-bottom-width: 1px;
}
.border-b-2 {
    border-bottom-width: 2px;
}
.border-l-2 {
    border-left-width: 2px;
}
.border-r {
    border-right-width: 1px;
}
.border-r-0 {
    border-right-width: 0px;
}
.border-t {
    border-top-width: 1px;
}
.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
}
.border-gray-900 {
    --tw-border-opacity: 1;
    border-color: rgb(17 24 39 / var(--tw-border-opacity));
}
.border-l-rose-500 {
    --tw-border-opacity: 1;
    border-left-color: rgb(244 63 94 / var(--tw-border-opacity));
}
.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}
.bg-slate-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
.bg-slate-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
}
.bg-slate-600 {
    --tw-bg-opacity: 1;
    background-color: rgb(71 85 105 / var(--tw-bg-opacity));
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-50\% {
    background-size: 50%;
}
.bg-right {
    background-position: right;
}
.bg-no-repeat {
    background-repeat: no-repeat;
}
.object-cover {
    -o-object-fit: cover;
       object-fit: cover;
}
.object-center {
    -o-object-position: center;
       object-position: center;
}
.p-2 {
    padding: 0.5rem;
}
.p-5 {
    padding: 1.25rem;
}
.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.pb-2 {
    padding-bottom: 0.5rem;
}
.pb-5 {
    padding-bottom: 1.25rem;
}
.pl-4 {
    padding-left: 1rem;
}
.pl-5 {
    padding-left: 1.25rem;
}
.pr-3 {
    padding-right: 0.75rem;
}
.pr-4 {
    padding-right: 1rem;
}
.pr-5 {
    padding-right: 1.25rem;
}
.pt-1 {
    padding-top: 0.25rem;
}
.pt-2 {
    padding-top: 0.5rem;
}
.text-left {
    text-align: left;
}
.font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
.font-saira {
    font-family: "Saira Condensed", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
.font-sarabun {
    font-family: Sarabun, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.font-bold {
    font-weight: 700;
}
.font-extrabold {
    font-weight: 800;
}
.font-medium {
    font-weight: 500;
}
.font-normal {
    font-weight: 400;
}
.font-semibold {
    font-weight: 600;
}
.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}
.tracking-wide {
    letter-spacing: 0.025em;
}
.text-blue-500 {
    --tw-text-opacity: 1;
    color: rgb(59 130 246 / var(--tw-text-opacity));
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}
.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}
.text-rose-500 {
    --tw-text-opacity: 1;
    color: rgb(244 63 94 / var(--tw-text-opacity));
}
.text-slate-400 {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
}
.text-slate-900 {
    --tw-text-opacity: 1;
    color: rgb(15 23 42 / var(--tw-text-opacity));
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.underline {
    text-decoration-line: underline;
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.alignfull {
    margin: 2rem calc(50% - 50vw) !important;
    max-width: 100vw !important;
    width: 100vw;
}
.alignwide {
    margin: 2rem 0;
    max-width: 1280px !important;
}
.alignnone {
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    max-width: 100%;
}
.aligncenter {
    margin: 0.5rem auto;
    display: block;
}
@media (min-width: 600px) {
    .alignleft:not(.wp-block-button) {
        margin-right: 0.5rem;
        float: left;
    }
    .alignright:not(.wp-block-button) {
        margin-left: 0.5rem;
        float: right;
    }
    .wp-block-button.alignleft a {
        float: left;
        margin-right: 1rem;
    }
    .wp-block-button.alignright a {
        float: right;
        margin-left: 1rem;
    }
}
.wp-caption {
    display: inline-block;
}
.wp-caption img {
    margin-bottom: 0.5rem;
    line-height: 1;
}
.wp-caption-text {
    font-size: 0.875rem;
    color: #4b5563;
}
body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.wp-block {
    max-width: 1280px;
}
.wp-block[data-align=wide] {
    max-width: 1280px;
}
.wp-block[data-align=full] {
    max-width: 100%;
}
.hover\:border-b-2:hover {
    border-bottom-width: 2px;
}
.hover\:border-b-4:hover {
    border-bottom-width: 4px;
}
.hover\:bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.hover\:bg-slate-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(241 245 249 / var(--tw-bg-opacity));
}
.hover\:bg-slate-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85 / var(--tw-bg-opacity));
}
.hover\:text-gray-800:hover {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
}
.hover\:text-rose-500:hover {
    --tw-text-opacity: 1;
    color: rgb(244 63 94 / var(--tw-text-opacity));
}
.hover\:underline:hover {
    text-decoration-line: underline;
}
.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.focus\:ring-4:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
.focus\:ring-gray-200:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(229 231 235 / var(--tw-ring-opacity));
}
@media (min-width: 600px) {
    .sm\:pl-4 {
        padding-left: 1rem;
    }
    .sm\:pr-4 {
        padding-right: 1rem;
    }
}
@media (min-width: 782px) {
    .md\:mx-auto {
        margin-left: auto;
        margin-right: auto;
    }
    .md\:mt-0 {
        margin-top: 0px;
    }
    .md\:line-clamp-2 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
    .md\:block {
        display: block;
    }
    .md\:flex {
        display: flex;
    }
    .md\:grid {
        display: grid;
    }
    .md\:hidden {
        display: none;
    }
    .md\:h-14 {
        height: 3.5rem;
    }
    .md\:h-32 {
        height: 8rem;
    }
    .md\:h-96 {
        height: 24rem;
    }
    .md\:w-10\/12 {
        width: 83.333333%;
    }
    .md\:w-2\/6 {
        width: 33.333333%;
    }
    .md\:w-4\/12 {
        width: 33.333333%;
    }
    .md\:w-6\/12 {
        width: 50%;
    }
    .md\:w-7\/12 {
        width: 58.333333%;
    }
    .md\:w-8\/12 {
        width: 66.666667%;
    }
    .md\:w-96 {
        width: 24rem;
    }
    .md\:basis-4\/12 {
        flex-basis: 33.333333%;
    }
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .md\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .md\:flex-row {
        flex-direction: row;
    }
    .md\:gap-0 {
        gap: 0px;
    }
    .md\:gap-4 {
        gap: 1rem;
    }
    .md\:gap-6 {
        gap: 1.5rem;
    }
    .md\:border-r-0 {
        border-right-width: 0px;
    }
    .md\:pl-0 {
        padding-left: 0px;
    }
    .md\:pr-0 {
        padding-right: 0px;
    }
}
@media (min-width: 960px) {
    .lg\:hidden {
        display: none;
    }
    .lg\:w-4\/12 {
        width: 33.333333%;
    }
    .lg\:justify-center {
        justify-content: center;
    }
    .lg\:gap-16 {
        gap: 4rem;
    }
}
@media (min-width: 1440px) {
    .\32xl\:hidden {
        display: none;
    }
}
:is(:where(.dark) .dark\:border-gray-200) {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
:is(:where(.dark) .dark\:border-b-gray-400) {
    --tw-border-opacity: 1;
    border-bottom-color: rgb(156 163 175 / var(--tw-border-opacity));
}
:is(:where(.dark) .dark\:border-r-gray-400) {
    --tw-border-opacity: 1;
    border-right-color: rgb(156 163 175 / var(--tw-border-opacity));
}
:is(:where(.dark) .dark\:border-t-gray-400) {
    --tw-border-opacity: 1;
    border-top-color: rgb(156 163 175 / var(--tw-border-opacity));
}
:is(:where(.dark) .dark\:bg-black) {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}
:is(:where(.dark) .dark\:bg-gray-900) {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}
:is(:where(.dark) .dark\:bg-gray-950) {
    --tw-bg-opacity: 1;
    background-color: rgb(3 7 18 / var(--tw-bg-opacity));
}
:is(:where(.dark) .dark\:bg-slate-900) {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}
:is(:where(.dark) .dark\:text-gray-200) {
    --tw-text-opacity: 1;
    color: rgb(229 231 235 / var(--tw-text-opacity));
}
:is(:where(.dark) .dark\:text-gray-300) {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity));
}
:is(:where(.dark) .dark\:text-gray-400) {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}
:is(:where(.dark) .dark\:text-slate-100) {
    --tw-text-opacity: 1;
    color: rgb(241 245 249 / var(--tw-text-opacity));
}
:is(:where(.dark) .dark\:hover\:border-gray-200:hover) {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
:is(:where(.dark) .dark\:hover\:bg-gray-700:hover) {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}
:is(:where(.dark) .dark\:hover\:bg-slate-900:hover) {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}
:is(:where(.dark) .dark\:hover\:text-gray-300:hover) {
    --tw-text-opacity: 1;
    color: rgb(209 213 219 / var(--tw-text-opacity));
}
:is(:where(.dark) .dark\:hover\:underline:hover) {
    text-decoration-line: underline;
}
:is(:where(.dark) .dark\:focus\:ring-gray-700:focus) {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(55 65 81 / var(--tw-ring-opacity));
}
